*{
  text-align: center;
}

body {
  display: grid;
  grid-template-areas: 
  'header header header'
  'section section section';
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.buscador {
  margin-top: 15px;
  margin-bottom: 30px;
}

.tarjetas {
  padding: 0px 5%;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 45px;
  }

footer{
  margin-top: 20px;
  color: rgb(255, 255, 255);
  background-color: rgba(6, 146, 53, 0.849);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

